<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Google Authentication</title>
</head>
<body>
    <h1>This is Google Auth Tutorial</h1>
    <a href="http://localhost:1010/api/auth/google/contact">Sign in with google</a>
</body>
</html>