<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <h1>This is an sign up verification mail. Please <a href=<%= link %>>click here</a></h1>
</body>
</html>